// ============================
// ボタン
// ============================
.p-btn{
    margin: 10px auto 0px auto;
    padding: 5px 35px;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 #24262c;
    box-sizing: border-box;
    padding: 5px 30px;

    // ============================
    // アカウント一覧画面ボタン
    // ============================
    &__follow{
        border-radius: 6px;
        box-sizing: border-box;
        padding: 5px 30px;
        border: none;
        background-color: #FFC107;
        box-shadow: 0 2px 4px 0 #b2b5be;
        font-size: 14px;
        &:focus {
            outline:0;
        }
    }
    &__new{
        color: $color_black;
        background-color: $color_orange;
        box-shadow: 0 2px 4px 0 #5a5b5e;
        box-sizing: border-box;
        padding: 10px 0;//5→10
        border-radius: 6px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
    // ============================
    // TOPページボタン
    // ============================
    &__tw-new{
        color: $color_black;
        background-color: $blue;
        box-shadow: 0 2px 4px 0 #5a5b5e;
        box-sizing: border-box;
        padding: 10px 0;//5→10
        border-radius: 6px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
    &__login{
        color: $color_black;
        background-color: $blue;
        box-shadow: 0 2px 4px 0 #5a5b5e;
        box-sizing: border-box;
        padding: 10px 0;//5→10
        border-radius: 6px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }
    &__newregister{
        background-color: $color_orange;
        color: $color_black;
        box-shadow: 0 2px 4px 0 #5a5b5e;
        box-sizing: border-box;
        padding: 10px 0;//5→10
        border-radius: 6px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }

    &__margin{
        margin-bottom: 10px ;
    }

}