// ============================
// trend画面
// ============================
.p-trend{

    &__time{
        text-align: left;
        color: $color_black;
        font-size: $font-size_min;
    }
    // ============================
    // searchエリア
    // ============================
    &__search{
        margin: 10px 0px 0px 0px;
        text-align: left;
        @include mq(){
            margin: 0px;
        }
    }
    &__search-time{
        padding: 5px;
        font-size: $font-size_min;
        &__select{
            height: 30px;
            box-sizing: border-box;
            display: inline-block;
            padding: 5px;
            border-radius: 6px;
            width: 50%;
        }
        @include mq(){
            text-align: center;
        }
    }
    &__search-inner{
        width: 100px;
        display: inline-flex;
        box-sizing: border-box;
        margin: 0px;
        @include mq(){
            margin: 5px;
        }
    }
    &__search-name{
        padding: 5px;
        font-size: $font-size_min;
        @include mq(){
            padding: 0px 5px;
            text-align: center;
        }
    }

    // ============================
    // 一覧表示エリア list-
    // ============================
    &__list-wrap{
        display: block;
        padding: 0px 3px 30px 0px;
    }

    &__list-title{
        width: 90%;
        margin: 0px auto 2px auto;
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        padding: 10px 15px;
        border-bottom: solid 1px $border_color;
        background-color: $color_1;
        border-radius: 5px;
        font-size: $font-size_min;
        //box-shadow: 0 2px 4px 0 #b2b5be;
        @include mq(){
            width: 100%;
        }
    }
    &__list-row{
        width: 100%;
        display: block;
    }
    // ============================
    // 一覧エリア　詳細 list__
    // ============================
    &__list{
        &__item{
            position: absolute;
        }
        &__tweet{
            position: relative;
            left: 165px;
            @include mq(){
                position: relative;
                left: 65px;
            }
        }
        &__high{
            position: relative;
            left: 100px;
            @include mq(){
                position: relative;
                left: 30px;
            }

        }
        &__low{
            position: relative;
            left: 0px;
            @include mq(){
                position: relative;
                left: 0px;
            }
        }
    }
    
}
.p-trend-map{
    display: block;
    box-sizing: border-box;
}
.no-padding{
    padding: 5px;
    margin: 0px;
}