// ============================
// NEWS一覧ページ panel 
// ============================
.p-news{
    &__section{
        margin: 0px auto;
        width: 80%;
        @include mq(){
            width: 100%;
            display: block;
        }
    }
    &__tr{
        box-shadow: 0px 6px 4px -5px #b2b5be;
        display: flex;
        margin: 40px auto 10px;
        @include mq(){
            display: block;
        }
    }
    &__th-icon{
        margin: 10px 10px;
        @include mq(){
            width: 100%;
            display: block;
        }
    }
    &__th-label{
        margin: 10px 0px;
        @include mq(){
            width: 100%;
            display: block;
        }
    }
    &__th-data{
        margin: 10px;
        @include mq(){
            width: 100%;
            display: block;
        }
    }
    // ============================
    // 記事パネル
    // ============================
    &__body{
        display: flex;
        flex-wrap: wrap;
    }
    &__panel-wrap{
        width: calc(100%/2);
        &:hover{
            transition: all .5s;
            transform: translateY(-2px);
            opacity: 0.8;
        }
        @include mq(){
            width: 100%;
            display: block;
        }
    }
    &__inner{
        height: 200px;
        padding: 20px 10px;
        float: left;
        border-radius: 6px;
        box-shadow: 0 2px 4px 0 #b2b5be;
        background-color: #fff;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 0.1px solid #eeeeee;
        margin: 5px;
        width: 98%;
        @include mq(){
            width: 100%;
            display: block;
            margin: 5px auto;
            height: auto;
            padding: 10px 10px;
            border: 0.1px solid #eeeeee;
        }
    }
    &__news-inner2{
        display: flex;
        box-sizing: border-box;
        flex-wrap: wrap;
    }
    // ============================
    // 記事　詳細パーツ　
    // ============================
    &__newstitle{
        margin-bottom: 5px;
        font-size: 0.8rem;
        &:visited{
            color:#0026ff;
        }
    }
    &__newssource{
        opacity: .7;
        margin: 0px;
        font-size: 0.7625rem;
        margin-right: 10px;

    }
    &__newspubDate{
        opacity: .7;
        margin: 0px;
        font-size: 0.7625rem;



    }
}