// ============================
// pagination用
// ============================

.p-paginate{
    &.a{
        border-radius: 5px;
        background-color: #6d6d6d;
        width: 25px;
        height: 25px;     
    }
    &__wrap{
        display: block;
        @include mq(){
        }
    }
    &__list{
        display: inline-flex;
        box-sizing: border-box;
        margin: 10px 10px 10px 30px;
        @include mq(){
            margin: 10px;
        }
    }
    &__left-end{
        border-radius: 5px;
        background-color: #d9e3ee;
        width: 25px;
        height: 25px;
    }
    &__left{
        border-radius: 5px;
        background-color: #d9e3ee;
        width: 25px;
        height: 25px;
    }
    &__page{
        border-radius: 5px;
        background-color: #d9e3ee;
        width: 25px;
        height: 25px;
        font-size: 13px;
        line-height: 2.1;
        &:hover{
            background-color: $color_orange;
        }
    }
    &__right{
        border-radius: 5px;
        background-color: #d9e3ee;
        width: 25px;
        height: 25px;
    }
    &__right-end{
        border-radius: 5px;
        background-color: #d9e3ee;
        width: 25px;
        height: 25px;
    }
    &__navigation{
        font-size: 13px;
        margin: 10px;
        box-sizing: border-box;
        text-align: right;
        @include mq(){
            text-align: center;
            margin: 10px auto 0px;
            font-size: 13px;
            box-sizing: border-box;
        }
    }
}
