// ============================
// パスワードリセット画面　（一部　ログイン画面と共通あり）
// reset.blade.php、email.blade.php
// ============================

.p-pass{
    // ============================
    // カバーパーツ
    // ============================
    &__container{
        max-width: 500px;
        min-width: 350px;
        margin: 60px auto;
        padding: 30px;
        box-sizing: border-box;
        box-shadow: 0px 4px 8px 2px #b2b5be;
        font-size: $font-size_xxs;
        border-radius: 6px;
        @include mq(){
            width: 100%;
            margin: 20px auto;
            box-shadow: 0px 0px 0px 0px #b2b5be;
        }
    }
    // ============================
    // フォーム部分 入力エリア
    // ============================
    &__inner{
        margin-bottom: 10px;
    }
    &__title{
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem 0.375rem 0rem;
        color: #495057;
        background-clip: padding-box;
        border-radius: 0.25rem;
    }
    &__form{
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        color: #495057;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
    &__btn{
        text-align: center;
        margin: 30px auto 0px;
    }
}

